* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: lightblue;
} */
.page {
  max-width: 1200px;
  min-height: 100vh;
  /* background-color: lightgreen; */
  margin: 0px auto;
  /* padding: 30px 200px; */
}
/* ============== */
.top>li>a { 
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-size: 12px;
  padding-left: 30px;
  &:hover{
    text-decoration: underline;
  }
}
.top {
  padding-top: 10px;
  /* border: 1px solid green; */
  height: 40px;
  background-color: #CFE1E7 ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
 }
 /* ============== */
.menu {
 height: 73px;
 display: flex;
 flex-direction: row ;
 justify-content: left;
 list-style-type: none;
/* border: 1px solid green; */
padding-top: 23px;
padding-left: 230px;
}
.menu>li>a {
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 50px;
  &:hover{
    text-decoration: underline;
  }
}
/* ============== */
.blok1 {
  display: flex;
  height: 727px;
  flex-direction: column;
   }

.pic {
  width: 1200px;
  height: 727px;
}
.pic_1 {
 width: 100%;
 height: 100%; 
object-fit: contain;
}
.l {
  margin-top: 240px;
  display: flex;
  position: absolute;
  writing-mode: vertical-rl;
  width: 47px;
  height: 116px;
  background-color: #F0C1A6;
  justify-content: center;
  padding: 15px
}
.l>p {
  font-size: 13px;
  font-family: Open Sans;
  color: white;
  }
.con_pic{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 219px;
    height: 139px ;
    margin-top: 412px;
    margin-left: 131px;
    justify-content: center;
    /* border: 1px solid green; */
  }
.con_pic>h1 {
    font-size: 31px;
    font-weight: 500;
    font-family: Roboto;
    text-align: center;
   }
.con_pic>h4 {
      font-size: 16px;
      font-weight: 500;
      font-family: Roboto;
      text-align: center;
   }
.btn {
        display: flex;
        justify-content: left;
        position: absolute;
        /* border: 1px solid red; */
        margin-top: 550px;
        margin-left: 155px;
       }
.t1 {
        width: 170px;
        height: 33px;
        border-color: #ffffff;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover{
          border: 1px solid black;
        }
       
      }

.t2 {
        width: 226px;
        height: 33px;
        border-color: #ffffff;
        border-radius: 15px;
        margin-left: 583px;
        font-size: 14px;
      font-weight: 300;
      font-family: Roboto;
      text-align: center;
      text-decoration: none;
      color: black;
        &:hover{
          border: 1px solid black;
        }
      }
/* ============== */
.razdel>h4 {
        margin-top: 49px;
        font-size: 14px;
        font-weight: 500;
        font-family: Roboto;
        text-align: center;
      }
.razdel>h1 {
        margin-top: 14px;
        margin-bottom: 50px;
        font-size: 43px;
        font-weight: 500;
        font-family: Roboto;
        text-align: center;
      }
/* ============== */
.tovar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;
      }
.card {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
.tov_pic {
        width: 255px;
        height: 303px;
      }
/* .t_t_pic {
        width: 100%;
        height: 100%; 
       object-fit: contain;
      } */
.text_card>a {
        display: flex;
        justify-content: center;
        color: black;
        text-decoration: none;
        margin-top: 22px;
        font-family: Roboto;
        font-size: 14px;
        &:hover{
          text-decoration: underline;
        }
      }
/* ================== */
.blok2 {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        flex-wrap: nowrap;
        /* gap: 0px; */

      }
.pic2 { width: 600px;
        height: 570px;
      
      }
.green {
        width: 600px;
        height: 570px;
        display: flex;
        flex-direction: column;
        background-color: #98B7A4;
        /* border: 1px solid red; */
      
      }
.green>h4 {
        font-size: 14px;
        font-weight: 500;
        font-family: Roboto;
        text-align: center;
        margin-top: 64px;
        }
.green>h1 {
          font-size: 43px;
          font-weight: 500;
          font-family: Roboto;
          text-align: center;
          margin-top: 14px;
          }
.green>p {
            font-size: 16px;
            font-weight: 500;
            font-family: Roboto;
            text-align: center;
            margin: 146px 75px 43px 76px;
            line-height: 26px;
            }
.t3 {
        margin-left: 215px ;
        width: 170px;
        height: 33px;
        border-color: #ffffff;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover{
          border: 1px solid black;
        }
      }
/* =================== */
.tab {
        display: flex;
        flex-direction: row;
        /* border: 1px solid red; */
       }
.menu_tab {
        display: flex;
        flex-direction: row ;
        /* justify-content: center; */
        list-style-type: none;
       /* border: 1px solid green; */
   
       }
.menu_tab>li>a {
         text-decoration: none;
         color: black;
         font-family: Roboto;
         font-size: 12px;
         padding-left: 112px;
         line-height: 26px;
         &:hover{
          text-decoration: underline;
        }

         }
/* =================== */
.blok3 {
  display: flex;
  flex-direction: column;
   width: 1200px;
  height: 676px;
  background-color: #E5DFD3;
  /* border: 1px solid red; */
  
 }
.blok3>h4 {
  text-align: center;
  margin-top: 79px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 22.75px;
  font-weight: 300;
}    
.blok3_pic {
  width: 90px;
  height: 90px;

}

.blok3_pic1 {
  /* border: 1px solid red; */
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-top: 74px;
  margin-left: 566px;
  
  }

.blok3_pic2 {
  /* border: 1px solid red; */
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 421px;
   
    
z-index: 1;
    }
.blok3>h1 {
  /* border: 1px solid red; */
   width: 951px;
   height: 236px;
   text-align: center;
   font-family: Roboto;
   font-size: 50px;
   line-height: 58.59px;
   font-weight: 500;
   z-index: 2;
   margin-top: 71px;
   margin-left: 130px;
}

/* ==================== */
.blok4 {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        flex-wrap: nowrap;
        /* gap: 0px; */

      }
.pic3 { 
        /* border: 1px solid red; */
        width: 600px;
        height: 436px;
        background-color: #98B7A4;
        
       }
 .pic_3 {
        margin-top: 50px;
        width: 480px;
        height: 302px;
        object-fit: contain

 }      
.green4 {
        width: 600px;
        height: 436px;
        display: flex;
        flex-direction: column;
        background-color: #98B7A4;
        /* border: 1px solid red; */
      
      }
.green4>h4 {
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto;
        text-align: center;
        margin-top: 65px;
        }
.green4>h1 {
          font-size: 42px;
          font-weight: 400;
          font-family: Roboto;
          text-align: center;
          margin-top: 14px;
          }
.green4>p {
            font-size: 16px;
            font-weight: 400;
            font-family: Roboto;
            text-align: center;
            margin: 51px 75px 47px 97px;
            line-height: 26px;
            }
.btn4 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 50px;

} 
.t3v1 {
        /* margin-left: 215px ; */
        width: 188px;
        height: 33px;
        border-color: #ffffff;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover{
          border: 1px solid black;
        }
      }
.t3v2 {
        /* margin-left: 215px ; */
        width: 215px;
        height: 33px;
        border-color: #ffffff;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover{
          border: 1px solid black;
        }
      }
/* =================== */
.tab_blog {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
 }
.menu_tab_blog {
  display: flex;
  flex-direction: row ;
  /* justify-content: center; */
  list-style-type: none;
 /* border: 1px solid green; */

 }
.menu_tab_blog>li>a {
   text-decoration: none;
   color: black;
   font-family: Roboto;
   font-size: 12px;
   padding-left: 112px;
   line-height: 26px;
   &:hover{
    text-decoration: underline;
  }
   }
/* =================== */
.blok5 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: nowrap;
  margin-bottom: 20px ;
  /* gap: 0px; */
   }
.pic_14 { 
  width: 600px;
  height: 493px;

}
.blu {
  width: 600px;
  height: 493px;
  display: flex;
  flex-direction: column;
  background-color: #CFE1E6;
  /* border: 1px solid red; */

}
.blu>h4 {
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  text-align: center;
  margin-top: 64px;
  }
.blu>h1 {
    font-size: 41px;
    font-weight: 500;
    font-family: Roboto;
    text-align: center;
    margin-top: 14px;
    line-height: 60px;
    }
.blu>p {
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      text-align: center;
      margin: 17px 75px 43px 75px;
      line-height: 26px;
      }
/* .t3 {
  margin-left: 215px ;
  margin-bottom: 57px;
  width: 170px;
  height: 33px;
  border-color: black;
  border-radius: 15px;
}
.t3>a {font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  text-align: center;
  text-decoration: none;
  color: black;
 } */
/*==================== */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  /* gap: 20px; */
  }
.item {
  width: 280px;
  height: 300px;
  object-fit: contain;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  /* background-color: #98B7A4; */
  transition: all 0.2s;
    &:hover {
    flex-basis: 70%;
  }
}

.item-1 {
  background: url("./images/im15-2.avif") no-repeat center center;
  background-size: cover;
}
.item-2 {
  background: url("./images/im16.avif") no-repeat center center;
  background-size: cover;
}
.item-3 {
  background: url("./images/im17.avif") no-repeat center center;
  background-size: cover;
}
.item-4 {
  background: url("./images/im18.avif") no-repeat center center;
  background-size: cover;
}
.item-5 {
  background: url("./images/im19.avif") no-repeat center center;
  background-size: cover;
}
.item-6 {
  background: url("./images/im20-2.avif") no-repeat center center;
  background-size: cover;
}
 /* ==================== */
.tit {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 50px;
}
/* ==================== */
footer {
  width: 1200px;
  height: 463px;
  display: flex;
  flex-direction: row;
  background-color: #F9F6F0;
  /* border: 1px solid red; */
  padding-top: 143px;
}
.f1 {display: flex;
  flex-direction: row;
}
.f2 {display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.f3 {display: flex;
  flex-direction: row;
}
.tabl1>li {
  list-style-type: none;
  padding-right: 30px;
  padding-left: 50px;
}
.tabl1>li>a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: left; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 22.75px;
      &:hover{
        text-decoration: underline;
      }

}
.tabl2>li {
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}
.tabl2>li>a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: center; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 22.75px;
      &:hover{
        text-decoration: underline;
      }

}
.tabl3>li {
  list-style-type: none;
  padding-right: 50px;
  padding-left: 20px;
}
.tabl3>li>a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
     line-height: 22.75px;
     &:hover{
      text-decoration: underline;
    }
}
.tabl4>li {
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}
.tabl4>li>a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: center; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 22.75px;
      &:hover{
        text-decoration: underline;
      }
}
.tabl5>li {
  list-style-type: none;
  padding-right: 50px;
  padding-left: 20px;
}
.tabl5>li>a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: center; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 22.75px;
      &:hover{
        text-decoration: underline;
      }

}
.f2>h1 {
      width: 299px;
      height: 60px;
      color: black;
      font-size: 42px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: center; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 60px;
}
.f2>h2 {
  /* border: 1px solid red; */
  width: 211px;
  height: 60px;
  color: black;
  font-size: 41px;
  font-weight: 400;
  font-family: Roboto;
  /* text-align: center; */
  /* margin: 17px 75px 43px 75px; */
  line-height: 60px;
  margin-left: 40px;
  }
  .f2_2 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
       
  }
  .f2_2>p {
    padding-top: 4px;
    color: black;
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      /* text-align: center; */
      /* margin: 17px 75px 43px 75px; */
      line-height: 26px;
  }
  .captcha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    width: 343px;
    height: 31px;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
  }
  .captcha>p {
    padding-top: 4px;
    padding-left: 10px;
     
      color: rgba(0, 0, 0, 0.555);
      font-size: 16px;
      font-weight: 400;
      font-family: Roboto;
      line-height: 26px;
  }
  .ryba {width: 
    98px;
    height: 30px;
    border-radius: 13px;
    border: 1px solid black;
    background-color: #98B7A4;
    z-index: 2;
 
  

  }